


/***********************************/
/* 전체 레이아웃 관련 설정  */

/* 전체가로폭 설정 */
.wrapper {
	overflow: hidden;
	width: 1500px;
}

/* 메인메뉴 가로폭 230px-->180px */
.main-sidebar {
	width: 180px;
}

.content-wrapper {
	margin-left: 180px;
}

.main-header .logo {
	width: 180px;
}

.main-header .navbar {
	margin-left: 180px;
}


.main-footer{
	margin-left: 180px;
}

/***********************************/
/* 전체 폰트  */

/* 컨텐츠영역 기본폰트 설정 */
.content {
	font-size: 12px;
}

/* 페이지 타이틀 폰트크기 */
.content-header > h1 {
	margin: 0;
	font-size: 20px;
}

/***********************************/
/* 영역관련  */

/* 영역박스  */
.sub-box{
	margin:0px 0px 0px 0px;
}

.sub-title{
	font-size: 14px;
	font-weight :800;
	margin:0px 0px 3px 0px;
}

.sub-body{
	padding: 2px 2px 2px 2px;
}


.sub-toolbox{
	margin: 5px 0px 5px 0px;
}

.cate-title{
	font-size: 14px;
	font-weight :800;
	margin:12px 0px 3px 0px;
}

.cate-toolbox{
	background-color: #e2e6ef !important;
	padding: 2px 2px 2px 2px;
}

.bordered{
	border: 1px solid #a2a5ab !important;
}

.scroll{
	/* overflow:scroll; */
	overflow-y:scroll;
	white-space: nowrap;
}


/***********************************/
/* 카테고리 박스  */
.cate-box{
	margin:0px 0px 0px 0px;
}


/***********************************/
/* table관련 */

/* 테이블 기본값 재정의 */
.table {
	margin: 0px 0px 0px 0px;
}

/* 테이블 라인(border) 정의*/
thead > tr > th,
thead > tr > td,
tbody > tr > th,
tbody > tr > td{
	border: 1px solid #a2a5ab !important;
}

/* 테이블 해더 부분 배경색  정의*/
thead > tr > th,
tbody > tr > th{
	background-color: #e2e6ef !important;
}


/***********************************/
/* 여백 공백 관련 */

.right-nopadding{
	padding-right: 0px;
}

.left-nopadding{
	padding-left: 0px;
}

.both-nopadding{
	padding-right: 0px;
	padding-left: 0px;
}

.space{
	width: 100%;
	height: 10px;
}


/***********************************/
/* 버튼관련 */

/* 버튼 기본모양 */
.btn {
	border-radius: 2px !important;
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

/* 중요버튼 */
.btn-primary {	
	width: 100px;
}

/* 기본버튼 */
.btn-default {
	width: 100px;
	border-color: #adadad;
}

.btn-cate {
	width: 80px;
	height: 25px;
	padding: 0px 0px 0px 0px; 
}


.btnLogout {
	border-radius: 4px !important;
	height: 28px;
	margin-top: 10px;
	padding: 0px 12px 0px 12px; 
	font-size: 12px;
}


/* 서브메뉴 */
.nav > li > a{
	padding: 2px 15px 5px 15px !important;
	/* margin: 0px 20px 0px 0px;  */
	border-radius: 4px !important;
}


/***********************************/
/* form 관련 */

/* text, select 에 붙인다 */
.input-sm{
	height:25px !important;
	padding: 0px 3px 0px 3px;
}

.form-controll-static{
	margin: 0px 20px 0px 0px;
	font-weight: normal;
}





.w20{width: 20px;}
.w40{width: 40px;}
.w60{width: 60px;}
.w80{width: 80px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w140{width: 140px;}



/*side-bar collapse 방지*/
@media (max-width: 767px) {
	.main-sidebar {
		padding-top: 50px;
	}
}
@media (max-width: 767px) {
	.main-sidebar {
		-webkit-transform: translate(0px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(0px, 0);
	}
}



